div {
  text-align: center;
}
table {
  margin: auto;
  width: 50%;
}
th, td {
  border-bottom: 1px solid lightgrey;
}
fieldset {
  border: 2px solid lightgrey;
  margin-left: 10%;
  margin-right: 10%;

}
legend {
  text-align: left;
}